@font-face {
    font-family: "Lupio";
    src: url('./assets/fonts/Lupio/Demo_Fonts/Fontspring-DEMO-lupio-semibold.otf') format("opentype");
    font-weight: semibold;
}

:root {
    --background_white: #f4f4f4;
    --background_black: #03121B;
    --background_orange: #ef8937;
    --font_white: #ffffff;
    --font_black: #252525;
    --font_orange: #ef8937;
}

.img {
    width: 100%;
    height: 100%;

}

.bg_white {
    background-color: var(--background_white);
}
.bg_black {
    background-color: var(--background_black);
}
.bg_orange {
    background-color: var(--background_orange);
}

.text {
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
.text_button {
    line-height: 14px;
    font-weight: 500;
}
.text_h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 44px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
}
.text_feedback {
    font-family: 'Archivo', sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
}
.title_h1 {
    font-family: 'Lupio', sans-serif;
    font-size: 72px;
    line-height: 74px;
    font-weight: 500;
    letter-spacing: 2px;
}
.title_h2 {
    font-family: 'Lupio', sans-serif;
    font-size: 54px;
    line-height: 56px;
    font-weight: 500;
    letter-spacing: 2px;
}
.title_h3 {
    font-family: 'Archivo', sans-serif;
    font-size: 38px;
    line-height: 42px;
    font-weight: 500;
    text-transform: uppercase;
}
.title_h4 {
    font-family: 'Lupio', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
}

@media (max-width: 480px) {
    .text_h1 {
        font-size: 34px;
        line-height: 36px;
    }
    
    .title_h1 {
        font-size: 40px;
        line-height: 42px;
    }

    .title_h2 {
        font-size: 36px;
        line-height: 38px;
    }
    .title_h3 {
        font-size: 28px;
        line-height: 30px;
    }

}

@media (max-width: 480px) { 
    .title_h2 {
        font-size: 30px;
        line-height: 32px;
    }
}

.font_black {
    color: var(--font_black);
}
.font_white {
    color: var(--font_white);
}
.font_orange {
    color: var(--font_orange);
}

.button {
    padding: 10px 36px 10px 22px;
    border-radius: 56px;

}
.button_orange {
    position: relative;
    background-color: var(--background_orange);
}
.button_orange::after {
    content: '';
    position: absolute;
    background: url(./assets/img/vectors/arrow_up_black_small.svg);
    top: 12px;
    right: 16px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
}

.button_transparent {
    position: relative;
    border: 1px solid var(--background_orange);
}

.button_transparent::after {
    content: '';
    position: absolute;
    background: url(./assets/img/vectors/arrow_up_orange_small.svg);
    top: 12px;
    right: 16px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
}

.body {
}

/* ---------------HEADER */

.header {
    max-width: 1440px;

    margin: 0 auto 40px;
    padding: 36px 200px 0;
    display: flex;
}
.header__logo {
    margin-right: auto;
}
.header__nav {
}
.nav__container {
    display: flex;
}
.nav__list_item:not(:last-child) {
    margin-right: 62px;
}

@media (max-width: 1024px) {
    .header {
        padding: 36px 50px 0;
    }
}
@media (max-width: 768px) {
    .header {
        padding: 36px 25px 0;
    }
}
@media (max-width: 480px) {
    .header {
        margin: 0 auto 26px;
    }

    .nav__container {
        display: none;
    }
}

/* ---------------MAIN */

.main {
}

/* ---------------FIRST_PAGE */

.first_page__container {
    max-width: 1440px;
    margin: 0 auto 64px;
    padding: 0 200px;
}
.first_page__title_block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
    align-items: center;
}
.title_block__title {
    flex: 1 0 36%;
}

.title_block__title:nth-child(1) {
    min-width: 654px;
}

.title_block__title:nth-child(3) {
    min-width: 567px;
}

.title_block__image_container {
    position: relative;
    flex: 0 1 302px;
    width: 302px;
    height: 54px;
}

.title_block__image_container::before {
    content: '';
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: url(./assets/img/vectors/header_img_after.svg);
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: center;
    background-color: #ffffff33;
    left: 10px;
    top: 8px;
}

.title_block__text {
    flex: 1 1 27%;
}
.first_page__button_block {
    margin-bottom: 52px;
}
.button_block__button {
    margin-right: 20px;
}
.first_page__image_block {
}

@media (max-width: 1355px) {
 
    .title_block__image_container {
        order: 1;
        margin-bottom: 14px;
    }

    .title_block__text {
        order: 1;
        flex: 1 0 50%;
    }
}

@media (max-width: 1270px) {
 
    .title_block__image_container {
        margin-right: 20px;
    }

    .title_block__text {
        order: 1;
    }
}

@media (max-width: 1024px) {
    .first_page__container {
        padding: 0 50px;
    }

    .title_block__image_container {
        order: -1;
    }

    .title_block__title:nth-child(1) {
        min-width: 567px;
    }
}

@media (max-width: 768px) {
    .first_page__container {
        padding: 0 25px;
    }    

    .title_block__title:nth-child(1),
    .title_block__title:nth-child(3) {
        min-width: 425px;
    }
}

@media (max-width: 480px) {

    .first_page__container {
        margin: 0 auto 32px;
    }

    .title_block__image_container {
        flex: 0 1 100%;
        max-height: 64px;
        margin-bottom: 26px;
    }

    .title_block__title:nth-child(1),
    .title_block__title:nth-child(3) {
        min-width: 200px;
    }

    .title_block__title:nth-child(3) {
        margin-bottom: 10px;
    }

    .first_page__button_block {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 26px;
    }

    .button_block__button {
        margin-right: 10px;
        margin-bottom: 10px;
        width: 160px;
    }
}


/* ---------------ABOUT */
.about_page{
}
.about_page__container {
    max-width: 1440px;
    margin: 0 auto 64px;

    padding: 0 200px;
}
.about_page__title {
    margin-bottom: 24px;
}
.about_page__text {
    max-width: 936px;
}

@media (max-width: 1024px) {
    .about_page__container {
        padding: 0 50px;
    }   
}

@media (max-width: 768px) {
    .about_page__container {
        padding: 0 25px;
    }    
}

/* ---------------SERVICES */

.services_page {
}

.services_page__container {
    max-width: 1440px;
    margin: auto;
    padding: 64px 200px 62px;
}
.services_page__title {
    margin-bottom: 42px;
}
.services_page__dropdown {
    counter-reset: point 0;
}
.dropdown__list_item {
    counter-increment: point 1;
    margin-bottom: 34px;
}

.dropdown__list_item:not(:last-child) {
    border-bottom: 1px solid var(--font_white)
}

.dropdown__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.dropdown__title {
    position: relative;
    margin-left: 52px;
    margin-bottom: 24px;
}

.dropdown__title:before {
    content: "0"counter(point);
    position: absolute;
    top: 6px;
    left: -48px;
    width: 28px;
    height: 28px;

    font-family: 'Archivo', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: var(--font_white);
}
.dropdown__button {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    padding: 3px;
    border: 1px solid var(--font_white);
}
.dropdown_button__active {
    display: none;
}
.dropdown_button__close {
    padding: 4px;
}
.dropdown__image_block {
    display: none;
}

.dropdown_active.dropdown__list_item {
    border-bottom: none;
}

.dropdown_active .dropdown__title {
    color: var(--font_orange);
}

.dropdown_active .dropdown__title::before {
    color: var(--font_orange);
}

.dropdown_active .dropdown_button__active,
.dropdown_active .dropdown__image_block {
    display: block;
}

.dropdown_active .dropdown_button__close {
    display: none;
}

@media (max-width: 1024px) {
    .services_page__container {
        padding: 64px 50px 62px;
    }   
}

@media (max-width: 768px) {
    .services_page__container {
        padding: 64px 25px 62px;
    }   
    .dropdown__title {
        max-width: 300px;
    }
    .dropdown__title:before {
        top: 0;
    }
}

@media (max-width: 400px) {
    .dropdown__button {
        display: none;
    }
}

/* ---------------PROJECT PAGE */

.project_page {
}

.project_page__container {
    max-width: 1440px;
    margin: auto;
    padding: 0 200px 38px;
}
.project_page__title {
    margin-bottom: 42px;
}
.project_page__projects {
    display: flex;
    flex-wrap: wrap;
}
.projects__block {
    flex: 1 1 47%;
    max-width: 504px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects__block:nth-child(odd) {
    margin-right: 32px;
}

.projects__block:nth-child(1) .projects__image_container {
    margin-bottom: 0;
}

.projects__block:nth-child(3) {
    align-self: start;
}

.projects__image_container {
    height: 280px;
    margin-bottom: 24px;
}

.projects__image {
    object-fit: cover;
    border-radius: 32px;
}

.projects__text {
    margin-bottom: 14px;
}
.projects__title {
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    margin-bottom: 14px;
}
.projects__split_block {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
}
.split_block__part {
    flex: 0 1 40%;
}

@media (max-width: 1024px) {
    .project_page__container {
        padding: 0 50px 38px;
    }
}

@media (max-width: 768px) {
    .project_page__container {
        padding: 0 25px 38px;
    }

    .project_page__projects {
        justify-content: center;
    }

    .projects__block {
        flex: 1 1 100%;
        max-width: 504px;
    }

    .projects__block:nth-child(odd) {
        margin-right: 0;
    }

    .projects__split_block {
        flex-wrap: wrap;
    }

    .split_block__part {
        flex: 0 1 100%;
    }
}

@media (max-width: 480px) { 
    .projects__image_container {
        height: 240px;
    }
}

@media (max-width: 400px) { 
    .projects__image_container {
        height: 200px;
    }
}

/* ---------------FEEDBACK */

.feedback__container {
    max-width: 1440px;
    margin: auto;
    padding: 74px 200px 38px;
}
.feedback__title {
    margin-bottom: 40px;
}
.feedback__block {
}
.feedback__text {
    text-align: justify;
    padding-bottom: 34px;
    margin-bottom: 14px;    
    border-bottom: 1px solid var(--font_white);
}
.feedback__author {
    display: flex;
    justify-content: space-between;
}
.author__text {
    margin-bottom: 100px;
}
.feedback__arrows {
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
}
.arrow {
    width: 45px;
    height: 45px;
}
.arrows__left {
    margin-right: 202px;
}
.arrows__right {
}

@media (max-width: 1024px) {
    .feedback__container {
        padding: 74px 50px 38px;
    }
}

@media (max-width: 768px) {
    .feedback__container {
        padding: 74px 25px 38px;
    }

    .feedback__title {
        text-align: center;
    }

    .author__text {
        margin-bottom: 50px;
    }
}

/* ---------------FOOTER */

.footer__container {
    max-width: 1440px;
    margin: auto;
    padding: 74px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__title {
    margin-bottom: 24px;
}
.footer__connected {
    text-align: center;
}

@media (max-width: 1024px) {
    .footer__container {
        padding: 74px 50px;
    }
}

@media (max-width: 768px) {
    .footer__container {
        padding: 74px 25px;
    }
}

@media (max-width: 768px) {
    .footer__container {
        text-align: center;
    }
}